
* {
    scroll-behavior: smooth;
    
}

body {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(203, 206, 223);
}


#top {
    display: block; 
    width: 100%;
    height:auto;
    margin: 0 auto;
    
    background-color:  rgb(203, 206, 223);
}




#top p {
    font-size: 4.5rem;
    font-weight: 800;
    font-family: 'Sunflower', sans-serif;
    color: #5271ff;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 20px;
    
    

    
    
}

#grid {
    display: grid;
    margin: 0 auto;
    background-color: rgb(203, 206, 223);
    padding: 1rem;
    
}

#grid h3 {
    font-size:1.1rem;
    color:rgb(126, 108, 108);
    margin: 0 auto;
    
    font-family: 'Karla', sans-serif;
}

#grid p {
    font-size: 0.9rem;
    color:rgb(126, 108, 108);
    margin: 0 auto;
    padding: 1rem 0;
    font-family: 'Karla', sans-serif;
    
}

#navigation ol {
    padding: 0.5rem 0.2rem;
    margin: 0 auto;
    text-align: center;
    background-color:#5271ff;

}

#navigation ol:hover {
    background-color: #687bce;
    padding: 0.9rem 0;
    transition: 0.5s ease-in-out;
}

#navigation ol li {
    width: 100%;
    margin: 0 2rem;
    display: inline;
}

#navigation ol li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Poor Story', cursive;
    font-size: 1.5rem;
}

#navigation ol li a:hover {
    color: rgb(36, 35, 32);
}

#article {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 0 auto;
    
    width: 100%;
    border: 4px solid transparent;
    
    border-bottom: 1px solid gray;
}

#article .content {
    border-left: 0.5px dotted gray;
    border-right: 0.5px dotted gray;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}




#article p {

    padding: 15px;
    text-align: left;
    height: 100%;
    line-height: 30px;
}

#article ol {
    margin: 0 auto;
    
    text-align: center;
    list-style: none;
    padding: 20px 0;
    
    
}

#article ol li {
    margin: 30px 0;
}

#article ol li a {
    font-family: 'Poor Story', cursive;
    text-decoration: none;
    font-size: 15px;
    color: black;
    
}

#article ol li a:hover {
    color: rgb(179, 94, 54);
}

#article .content #index {
    color: rgb(39, 34, 34);
    margin: 0 auto;
    height: 50px;
    width: 50%;
    background-color: transparent;
    padding: 10px;
}

#article .content button {
    margin: 0 auto;
    text-align:center;
    background-color: transparent;
    width: auto;
    height: 50px;
    border-radius: 15px;
    border:1px solid rgb(41, 44, 44);
    color:rgb(41, 44, 44);
}

#article .content button a {
    text-decoration: none;
    color: inherit;
}

#article .content button:hover {
    background-color: rgb(41, 44, 44);
    color: white;
    transition: 0.3s ease-in-out;
    border:none;
}

#article .content h3 {
    font-size: 2.3rem;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
    color:#5271ff;
    margin: 0;
    padding: 50px;
    text-align: left;
}

#article .content p {
    font-size: 1.2rem;
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    line-height: 50px;
}

#article a {
    text-decoration:none;
    color: tomato;
}

#article a:hover {
    color: gray;
}


#footer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    
}

#footer p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(126, 108, 108);
}

@media (max-width: 1024px) {
    body {
       background-color:rgb(58, 83, 116);
    }

    #top {
        background-color:rgb(58, 83, 116);
    }

    #top p {
        width: 50%;
        font-size: 40px;
        color:white;
    }

    #navigation ol:hover {
        background-color: #5271ff;
    }

    #navigation ol li {
        margin: 0.5rem;
    }
    #navigation ol li a {
        font-size: 0.8rem;
    }

    #navigation ol li a:hover {
        color: rgb(207, 189, 189);
    }

    #grid {
        display:none;
        grid-template-columns: 1fr 1fr;
        background-color: :rgb(58, 83, 116);
    }



    #article {
        display: block;

    }

    #article ol {
        width: 100%;
        margin: 0 auto;
    }

    #article ol li {
        display: inline;
        margin: 0 0.2rem;
    }

    #article ol li a {
        font-size: 0.5rem;
        color:white;
    }

    #article ol li a:hover {
        color: rgb(29, 27, 27);
    }

    #article .content {
        border:none;
    }

    #article .content h3 {
        font-size: 1.7rem;
        color: rgb(255, 255, 255);
        padding-bottom: 0;
    }

    #article .content p {
        font-size: 1rem;
        line-height: 2.1rem;
        color:rgb(236, 223, 223)
    }

    #article .content a {
        color:rgb(54, 54, 50);
        background-color: white;
        border-radius: 3px;
        padding: 3px;
    }

    #footer p {
        color: white;
    }
}

